[Unit]
Description=LunchLauncher Daemon Service
After=syslog.target
Wants=dev-ttyUSB0.device
After=dev-ttyUSB0.device

[Service]
ExecStart=/bin/bash lunchlauncherbuttond
Restart=no
KillMode=process
Type=simple

[Install]
WantedBy=multi-user.target
